body {
  font-size: 22px;
  font-family: Times New Roman, serif;
  color: #333;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 840px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-content {
  margin: auto;
  max-width: 780px;
  overflow-y: scroll;
}

.home-page {
  color: #444;
}

.home-page__content {
  line-height: 1.4em;
}

.home-page a {
  color: dodgerblue;
}
